.footer {
	/*padding-top:30px;*/
}
footer-col-2-3{
    margin: 0px;
    margin-top: 3%;
    border: 1px solid black;
    padding: 0px 10px;
    font-size: 18px;
}

.footer_img {
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center center;
    background-clip: border-box;
}
#border1 {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 0.3px;
  border-color: black;
}

.map{
  position: relative;
  left: 1%;
  top: 40px;

}

.footer_contact_icon{
  background-color: #68b2ff;
    border: 2px solid #ffffff;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.updated{
  color: white;
  text-align: left;
  padding-top: 65px;
  padding-left: 20px;
}
.social_icon {
	background-color: #000000;
	border: 2px solid #ffffff;
	color: white;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 50%;
  }

  #download {
	  background-color:black;
	  text-decoration:white;

  }

  #links {

	font-size: 20px;
	font-style: bold;
	text-align: left;
	text-decoration: none;
	padding-top:30px;

  }
  #links a:hover {
	color: grey;
	text-decoration: none;
  }

  #links a {

	color:black;

}
  .line-decoration {
	  float:left;
	  width: 100px;

  }
/* .footer{
	display: none;
} */
